{% extends 'django_shop_app/base.html' %}

{% block title %}
Panel administratora
{% endblock %}

{% block content %}
<div class="admin-panel">
    <div class="admin-options">
        <ul>
            <button id="add-category-btn">Dodaj kategorię</button>
            <button id="add-product-btn">Dodaj produkt</button>
            <button id="category-list-btn">Lista kategorii</button>
            <button id="add-product-list-btn">Lista produktów</button>
            <button id="order-list-btn">Lista zamówień</button>
            <button id="change-password-btn">Zmiana hasła</button>
        </ul>
    </div>
    <div class="admin-content"></div>
</div>
<script>
$(document).ready(function() {
    $('#add-category-btn').click(function() {
        $('.admin-content').load('/admin_panel/add_category/');
    });
    $('#add-product-btn').click(function() {
        $('.admin-content').load('/admin_panel/add_product/');
    });
    $('#category-list-btn').click(function() {
        $('.admin-content').load('/admin_panel/category_list/');
    });
    $('#add-product-list-btn').click(function() {
        $('.admin-content').load('/admin_panel/product_list/');
    });
    $('#order-list-btn').click(function() {
        $('.admin-content').load('/admin_panel/order_list/');
    });
    $('#change-password-btn').click(function() {
        $('.admin-content').load('/change_password/');
    });
});
</script>
{% endblock %}
