{% extends 'django_shop_app/base.html' %}

{% block title %}
Strona Główna
{% endblock %}

{% block content %}
    <div class="products">
        {% if on_home_page %}
            <h2>Najnowsze produkty</h2>
        {% endif %}
        <div class="product-grid">
            {% if products %}
                {% for product in products %}
                    <div class="product-item">
                        <a href="/p/{{ product.id }}">
                            <img src="{{ product.image.url }}" alt="{{ product.name }} thumbnail">
                            <div class="product-details">
                                <p>{{ product.name }}</p>
                                <p>{{ product.price }} PLN</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <p>Brak produktów</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
