{% extends 'django_shop_app/base.html' %}

{% block title %}
Logowanie
{% endblock %}

{% block content %}
<div class="auth-page">
    <h2>Logowanie</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="username">Nazwa użytkownika:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Hasło:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Zaloguj</button>
    </form>
    <form method="get" action="/register">
        <button type="submit">Zarejestruj się</button>
    </form>
</div>
{% endblock %}